/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	1). universal
	2). navbar
	3). members

~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ------ universal ------- */

	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	  display: none !important;
	}

	html{
		font:16px;
	}

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		color: #1EAEDB;
	}
	
	.centered {
		text-align: center;
	}

	.hide {
		display: none;
	}

	#red {
		background: rgb(251,73,72);
		border: none;
		color: white;
	}

	#red:hover {
		background: rgb(226, 48, 47);
	}

	.border {
		border: 1px solid black;
	}

/* ------ navbar ------- */

	.navigation {
		border-bottom: 1px solid black;
	}

	.navigation li {
		/*border-left: 1px solid black;*/
		display: inline-block;
		/*margin-right: 1rem;*/
		padding: 0 1rem;
	}

	/* border removed from gDating link */
	/* need to edit navbar links */
	.navigation li:first-child{
		border-left: none;
		padding-left: 0rem;
	}

	/*	.navigation li:nth-child(2){
		border-left: none;
	}*/

/* ------ members display ------- */

	.member-options {
		/*border-bottom: 1px solid black;*/
	}

	.member-options li {
		border-right: 1px solid black;
		display: inline-block;
		margin: 0 0.5rem;
		padding-right: 1.5rem;
	}

	.member-options li:last-child {
		border-right: none;
		padding-right: none;
	}

	.member-stats {
		display: inline-block;
		margin-bottom: 0;
	}

	.member-individual {
		margin: 2rem 1rem;
		margin-right: 0;
	}
	
	.member-individual:hover {
		background: lightgrey;
	}

	/* currentMember info */

	.currentMember-connection {

	}

	.currentMember-connection li {
		display: inline-block;
		margin: 0 0.5rem;
		padding-right: 1.5rem;
	}

	.currentMember-stats {
		display: inline-block;
		margin-bottom: 0;
	}

	.currentMember-individual {
		margin: 2rem 1rem;
		margin-right: 0;
	}


/*-------- profiel page --------*/

.edit-account {
	border: 1px solid black;
	padding: 1rem;
	position: relative;
}

.edit-account img {
	height: 100px;
	float: right;
	/*position: absolute;*/
	/*top: 1rem;*/
	/*right: 1rem;*/
	width: 100px;
}

.edit-account-form {
	margin-bottom: 0;
}