
<!-- <div class="container"> -->
	<!-- <div class="row"> -->
		<!-- <div class="twelve columns"> -->
			<ul class="navigation">

				<li><a ng-href="#/">gDating</a></li>

				<li class="u-pull-right" ng-show="hasToken == false">
					<a ng-href="#/login">Login</a>
				</li>

				<li class="u-pull-right" ng-show="hasToken == false">
					<a ng-href="#/register">Register</a>
				</li>

				<li class="u-pull-right" ng-show="hasToken == true">
					<a ng-href="#/" ng-click="logout()">Logout</a>
				</li>

				<li class="u-pull-right" ng-show="hasToken == true">
					<a ng-href="#/profile">My Profile</a>
				</li>

				<li class="u-pull-right" ng-show="hasToken == true">
					<a ng-click="search()">Search</a>
				</li>

			</ul>
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->